@font-face {
    font-family: Montserrat-Arabic;
    src: url(/fonts/Montserrat-Arabic-Regular.ttf);
}

@font-face {
    font-family: notoikea;
    src: url(/fonts/NotoIKEAArabic-Regular.ttf);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat-Arabic";

}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding-left: 15px;
    padding-right: 15px;

}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 97px;

}

header nav .toggle-menu {
    color: #C8A362;
    font-size: 40px;


}

header {
    height: 121px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}




header .buttons {
    display: flex;
}


header .login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 56px;
    color: white;
    text-decoration: none;
    /* button style */
    background: #C6A35F;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}


header .sginup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 56px;
    color: black;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid #C8A362;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    margin-left: 20px;

}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 90px;
}

header nav ul {
    display: flex;
}

header nav ul li a {
    padding: 0 10px;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: all 0.3s ease 0s;

}

header nav ul li a:hover {
    color: #C6A35F;
}

header img {
    height: 121px;
    cursor: pointer;
}

div .landing {
    margin: 15px 0;
}

div .main-image {
    width: 50%;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

div .head-column {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    column-gap: 25px;
}


div .main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 56px;
    color: white;
    text-decoration: none;
    /* button style */
    background: #C6A35F;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
}


div .main-content {
    font-family: "notoikea";
    display: flex;
    align-items: flex-end;
    flex-direction: column;

}

div .main-content p {
    word-wrap: break-word;
}

.main-content h1 {
    color: #C8A362;
}

.landing {
    background-color: #E8E8E84F;
}

.margin-top-main {
    margin: 56px 0;

}

/* الفوتر الاساسي للموقع */

footer{
    
}

/* فسم الكتب */


section div .show-more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 160px;
    height: 56px;
    color: #DBAD53;
    background: #FFFFFF;
    border: 1px solid #C8A362;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    margin-left: 20px;

    border: 1px solid #DBAD53;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
}

section div .show-more-button:hover {
    background-color: #d9ae62;
    color: white;
}

.margen-right-5 {
    margin-right: 5px;
}

.margen-left-5 {
    margin-left: 5px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: end;
    margin-bottom: 2em;
}

.parts-ul {
    display: flex;
    column-gap: 15px;
}

.parts-ul>li:nth-child(1) {
    color: gray;
}

.card .download-button {
    font-family: "notoikea";
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160%;
    height: 50px;
    color: #D7B470;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid #C8A362;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);

}

.download-button:hover {
    color: #FFFFFF;
    background: #D7B470;
}


.download-color-logo {
    font-size: 25;
    color: #D7B470;
    ;
}

.vector-star-color {
    font-size: 15px;
    color: #FACE49;
}

.card-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 24px;
}

.card {
    position: relative;
    width: 366px;
    height: 524px;
    background-color: #ffff;
    border: 2px solid #c8a362;
    padding: 20px 82px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.card-image {
    position: relative;
    width: 203px;
    height: 258px;
    border-radius: 3%;
    margin-bottom: 10px;

}

.card-image .card-img {

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3%;

}


.card-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: end;


}

.card-content-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-right: -25%;
    row-gap: 9px;
    margin-bottom: 9%;

}

.book-title {
    font-family: "Montserrat-Arabic", sans-serif;
    font-weight: 600;
    font-size: 28px;

}

.book-author {
    color: #0000003B;
    font-size: 18px;
    font-weight: 400;
}







.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 334px;
    height: 524px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 28px;
    border: 2px solid #c8a362;
    padding: 15px;
    margin-left: 3em;
}

.cards .row .title-detils {
    text-align: end;
    margin-bottom: 20px;
}

.cards .row .title-detils li:nth-child(2) {
    margin-bottom: 15px;
}

.cards .row .title-detils li:nth-child(3) {
    display: flex;
    column-gap: 5px;
    flex-direction: row-reverse;
}

.cards .row .title-detils li .star-color {
    color: #FACE49;
    font-size: 10px;
}

.Category-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 97px;
    height: 32px;
    color: #FFFFFF;
    background: rgba(202, 134, 2, 0.68);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
}



.mark-Category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    column-gap: 5em;
    margin-bottom: 10px;
}

.bookmark-color {
    color: #C6A35F;
    font-size: 25px;
}

.books-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.wrapper .carousel {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}

.wrapper .carousel .cards {
    margin-left: 14px;
    width: calc(100%/3);
}



.wrapper .carousel .cards:first-child {
    margin-right: 10px;
}

.wrapper {
    max-width: 1200px;
}


.download-book-button {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 278px;
    height: 52px;
    color: #DBAD53;
    background: #FFFFFF;
    border: 1px solid #D7B470;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.download-book-button:hover {
    background-color: #d9ae62;
    color: white;
}

/* Media qouery */
/* Small */
@media (min-width:767px) {
    .container {
        width: 750px;
    }

}

@media (max-width:767px) {
    header nav ul {
        display: none;
    }

    header .buttons {
        display: none;
    }

    header nav {
        display: block;
    }

    header nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        text-align: end;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;
    }

    header nav ul li a {
        padding: 15px !important;
    }

    .card-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
    }




}

/* Medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }

    header nav .toggle-menu {
        color: #C8A362;
        display: none;
    }
}

@media (max-width:992px) {
    header nav ul {
        display: none;
    }

    header .buttons {
        display: none;
    }

    header nav {
        display: block;
    }

    header nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        text-align: end;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;

    }

    header nav ul li a {
        padding: 15px !important;
    }


}

/* large */
@media (min-width:1200px) {

    .container {
        width: 1170px;
    }


}

header .logo {}