@font-face {
    font-family: Montserrat-Arabic;
    src: url(Montserrat-Arabic-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat-Arabic", sans-serif;

}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;

}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: black;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid #C8A362;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
}

.card {
    width: 366px;
    height: 524px;
    background-color: #ffff;
    padding: 40px 82px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    

}

.card-image {
    position: relative;
    width: 203px;
    height: 258px;
    border-radius: 3%;
    margin-bottom: 10px;

}

.card-image .card-img {
    
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3%;
    
}


.card-content{
    display: flex;
    flex-direction:column;
    justify-content:end;
    text-align: end;


}

.card-content-text{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-right: -25%;
    row-gap: 9px;
    margin-bottom: 9%;
    /* height: 50px; */
    
}